<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>知识库系统</title>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="css/angular-ui-tree.min.css">
<link rel="stylesheet" href="css/tree.css">
<link rel="stylesheet" href="/css/main.css">

    
</head>
<body ng-app="knowledgeApp">
<!-- 导航条 -->
<div ng-include="'knowledge/navbar-top.html'"></div>
<!-- ng routes hook -->
<div ng-view></div>

	<!-- Nested node template -->
	<script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="tree-node">
      <div class="tree-node-content">
        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle()"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{node.title}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'">
      </li>
    </ol>
  </script>
	<script type="text/ng-template" id="nodes_renderer2.html">
    <div class="tree-node">
      <div class="pull-left tree-handle" ui-tree-handle>
        <span class="glyphicon glyphicon-list"></span>
      </div>
      <div class="tree-node-content">
        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{node.title}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'">
      </li>
    </ol>
  </script>
	

	<!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->
	<script src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-ui-tree.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script
		src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>